html {
  font-family: sans-serif;
  font-weight: lighter;
  scroll-behavior: smooth;
}
.header{
  font-family: sans-serif;
  padding: 1px;
  text-align: center;
  background: #e8aba0;
  color: white;
  font-weight: lighter;
  font-size: 40px;
}

#HP_pic{
	height: 60%;
	width: 45%;
  margin-right: 5%;
  border-radius: 100px;
}
.foodImg{
  height: 50%;
  width: 35%;
  margin-right: 50%;
  margin-top: 5%;
  border-radius: 10px;
}
#wo{
  background-color: #ceeef5;
}
#ni{
  background-color: #f5dce6;
}
/* body {
  background: url(https://pic.chinesefontdesign.com/uploads/2017/03/chinesefontdesign.com_2017-03-20_17-52-49.jpg);
  background-repeat: repeat-y;
  background-size: cover;
} */
.column {
  float: left;
  width: 33.33%;
}
.column2 {
  float: left;
  width: 50%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.Page {
	background-color: transparent;
	text-align: left;
    font-size: 400%;
    color: #3b3b3b;
    line-height: 100%;
  margin-top: 190px;
  margin-left: 130px;
}

#paragraph2{
  font-family: sans-serif;
  padding: 1px;
  background: #a5c4d9;
  font-weight: lighter;

  font-size: 50px;
  color: #3b3b3b;
  line-height: 30px;
}

body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('https://pic.chinesefontdesign.com/uploads/2017/03/chinesefontdesign.com_2017-03-20_17-52-49.jpg');

  height: 80%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax2{
  height:20%;
}


.tablink {
  background-color: #a2ccde;
  color: white;
  float: left;
  border: none;
  cursor: pointer;
  padding: 16px;
  font-size: 20px;
  width: 20%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #839ba6;
}

/* Set default styles for tab content */
.tabcontent {
  color: black;
  display:block;
  padding: 50px;
  text-align: left;
}

/* Style each tab content individually */
#Home {background-color:transparent;}
#Music {background-color:transparent;}
#Food {background-color:transparent;}
#History {background-color:transparent;}
#Translator {background-color:transparent;}
